@model IEnumerable<Match_Game.Models.Jogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Generos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orcamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Generos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Jogo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Jogo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Jogo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
